# Combining and Exporting Data

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# Path to data folder

path = r'C:\Users\justi\OneDrive\Desktop\Class work\Achievement 4 Python (Instacart Basket Analysis)'

# Import orders_products_combined Data set

In [4]:
# Import combined data set
df_ords_combined = pd.read_pickle(os.path.join(path, '02 data', 'prepared data', 'orders_products_combined.pkl'))

In [5]:
df_ords_combined.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

In [6]:
df_ords_combined.shape

(32434489, 11)

# Import products_checked data set

In [7]:
# Import products_checked data set
df_prods = pd.read_csv(os.path.join(path, '02 data', 'prepared data', 'products_checked.csv'), index_col = False)

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_prods.shape

(49672, 6)

# df_prods & df_ords_combined will use the product_id column as the key and will use a left join

In [27]:
# Merge df_ords_combined and df_prods data sets
df_merged = df_ords_combined.merge(df_prods, on = 'product_id', how = 'left')

In [21]:
# check merge flag
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [12]:
df_merged.head()

,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,hour_of_day_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices
0,0,2539329,1,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,Soda,77,7,9.0
2,2,473747,1,3,3,12,21.0,196,1,1,both,195,Soda,77,7,9.0
3,3,2254736,1,4,4,7,29.0,196,1,1,both,195,Soda,77,7,9.0
4,4,431534,1,5,4,15,28.0,196,1,1,both,195,Soda,77,7,9.0

In [28]:
df_merged.shape

(32435059, 16)

# The newly merged data set has 32,435,059 rows.

In [14]:
# export merged data
df_merged.to_pickle(os.path.join(path, '02 data', 'prepared data', 'orders_products_merged.pkl'))